@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

::selection {
    background-color: #2f80ed; /* Set the background color you want when text is selected */
    color: #FFFFFF; /* Set the text color you want when text is selected */
  }

body {
    color: white !important;
    font-family: 'Poppins', sans-serif !important;
    overflow: hidden;
    scroll-behavior: smooth;
}

.btn-background {
    background: radial-gradient(
            ellipse farthest-corner at right bottom,
            #56ccf2 0%,
            #2f80ed 8%,
            #56ccf2 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #56ccf2 8%,
            #2f80ed 25%,
            #56ccf2 62.5%,
            #56ccf2 100%
        );
}

.chat__messages {
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.z_index_navbar {
    z-index: 9999 !important;
}

.hoverText {
    /* transition: 0.5s; */
    background-image: linear-gradient(
        to left,
        #56ccf2 0%,
        #2f80ed 51%,
        #56ccf2 100%
    );
    -webkit-background-clip: text;
    transition: color .3s ease-in-out;
    color: white;
}

.hoverText:hover {
    background-image: linear-gradient(
        to right,
        #56ccf2 0%,
        #2f80ed 51%,
        #56ccf2 100%
    );
    background-position: right center;
    -webkit-background-clip: text;
    color: transparent;
    transition: color .3s ease-in-out;
}
